// All Activity
section.activity {
  padding-top: 300px;
  .activityWrapper {
    display: flex;
    flex-direction: column;
    .activityList {
      display: flex;
      flex-direction: column;
      li {
        display: flex;
        align-items: center;
        // border-bottom: 1px solid #ccc;
      }
      li > div {
        flex: 1;
      }
      .activityHeader {
        padding: 22px 40px;
        background: #ff6600;
        color: var(--white);
        font-size: 1.2rem;
        font-weight: 600;
      }
      .activityItem {
        padding: 10px 40px;
        height: 60px;
        font-size: 1rem;
        font-weight: 500;
        transition: background-color 0.3s, color 0.3s;
        &:hover {
          background-color: var(--grey-100);
        }
      }
    }
  }
}

// ActivityInfo
section.activityInfo {
  grid-column: 1 / span 2;
  padding-top: 10%;
  margin-bottom: 4rem;
  .activityInfoWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .activityInfoImage,
    .activityInfoText {
      flex: 0 1 calc(50% - 1rem);
      padding: 1rem;
    }
    .activityInfoImage {
      width: 300px;
      img {
        max-width: 100%;
        height: 350px;
      }
    }
    .activityInfoText {
      padding-left: 6rem;
      .title {
        font-size: 1.6rem;
        margin-bottom: 1.5rem;
        span {
          display: inline-block;
          border-bottom: 4px solid #51be78;
          letter-spacing: 0.08rem;
        }
      }
      p {
        font-size: 1.1rem;
        line-height: 1.8;
      }
    }
  }
}
