section.formBox {
  padding-top: 10%;
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
  form {
    min-width: 50%;
    box-sizing: border-box;
    .formGroup {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
      min-height: 100px;
      label {
        font-size: 1rem;
        margin-bottom: 0.5rem;
      }
    }
  }
}
