@use "sass:math";
$screen-break-point: 749.5px;

:root {
  --white: #ffffff;
  --pink: #f67599;

  --grey-800: #2a2a2a;
  --grey-700: #333333;
  --grey-400: #808080;
  --grey-300: #999999;
  --grey-200: #b3b3b3;
  --grey-100: #cccccc;
  --grey-50: #e6e6e6;
  --grey-25: #f2f2f2;

  --main-font-family: "Noto Sans TC", sans-serif;
}

body {
  --background-color: #ffffff;
  --footer-background-color: #333333;
  --primary: #00204a;
  --secondary: #005555;
  --nav-link: #2a2a2a;
  --social-icon: #808080;
  --main-text: #2a2a2a;
  --secondary-text: #808080;
  --button-color: #ffed97;
  --title-color: #f6f7f8;
  --header-color: #808080;
  --header-text-color: #f0f0f5;
  --input-label: #808080;
  --input-border: #ced4da;
  --error: #ff5151;
  --input-text: #999999;
  --focus-color: #c4e1ff;
  --radio-border: #2a2a2a;
  --AuthButton-color: lightblue;
  --activeButton: #007bff;
  --hoverButton: #0056b3;

  background-color: var(--background-color);
  color: var(--main-text);
  font-family: var(--main-font-family);
  user-select: none;
  font-size: 1rem;
  line-height: 1.4;
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.container {
  width: 75%;
  margin: 0 auto 3rem auto;
}
.cursor-point {
  cursor: pointer;
}

input,
select,
textarea {
  border: 1px solid var(--input-border);
  border-radius: 0px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
  background: var(--background-color);
  background-clip: padding-box;
  border: 1px solid var(--input-border);
  appearance: none;
  border-radius: 0.25rem;
  &:hover,
  &:focus {
    border: 3px solid var(--focus-color);
  }
}

label {
  font-size: 1rem;
}

select,
input[type="text"] {
  flex: 1;
}

textarea {
  height: 150px;
  resize: none;
}

.errorPlaceholder {
  min-height: 1.2rem; /* 設置一個足夠的最小高度，以便容納可能的錯誤訊息 */
  display: flex;
  align-items: center; /* 垂直居中對齊 */
  .error {
    margin-top: 0.3rem; /* 設置一個頂部間距，與其他元素區分開來 */
    color: var(--error); /* 使用定義的錯誤訊息顏色 */
    font-size: 0.85rem; /* 適當的字體大小 */
    font-weight: 400; /* 適當的字體粗細 */
  }
}
