$screen-break-point: 749.5px;

section.search {
  position: absolute;
  top: 65%;
  left: 50%;
  height: 50px;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  background: var(--background-color);
  border-radius: 7px;
  select,
  input {
    appearance: none;
    border: none;
    outline: none;
    width: 120px;
    height: 40px;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0 5px;
    border-radius: 7px;
  }
  input[type="date"] {
    position: relative;
    &::-webkit-datetime-edit {
      display: none;
    }
    &::before {
      content: attr(placeholder);
    }
    // 預設的日曆icon (目前移除後無法點擊)
    &::-webkit-calendar-picker-indicator {
      // display: none;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
  option {
    font-size: 1rem;
  }
  .searchButton {
    width: 100px;
    height: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: var(--button-color);
    border-radius: 5px;
    padding: 0 5px;
    color: var(--main-text);
  }
}

@media screen and (min-width: $screen-break-point) {
  section.search {
    top: 75%;
    height: 58px;
    select,
    input {
      width: 350px;
      height: 55px;
      font-size: 1.5rem;
      padding: 0 5px;
      border-radius: 7px;
    }
    option {
      font-size: 1.5rem;
    }
    .searchButton {
      font-size: 1.5rem;
      height: 58px;
    }
  }
}
