footer.footer {
  width: 100%;
  text-align: center;
  background: var(--footer-background-color);
  padding: 1rem;
  color: var(--white);
  letter-spacing: 2px;
  position: fixed;
  bottom: 0;
  left: 0;
}
