.label {
  margin-bottom: 0.4rem;
  span {
    margin-left: 0.2rem;
    color: red;
  }
}

.input,
textarea {
  border: 1px solid var(--input-border);
  border-radius: 0px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background: var(--background-color);
  background-clip: padding-box;
  border: 1px solid var(--input-border);
  appearance: none;
  border-radius: 0.25rem;
  &:hover,
  &:focus {
    border: 3px solid var(--focus-color);
  }
}

// radio
input[type="radio"] {
  all: unset;
  width: 15px;
  height: 15px;
  align-self: center;
  &::before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border: 1px solid var(--radio-border);
    border-radius: 50%;
  }
  &:checked::before {
    border: 1px solid var(--radio-border);
    background-color: var(--radio-border);
  }
}

// checkbox
input[type="checkbox"] {
  all: unset;
  width: 15px;
  height: 15px;
  &::before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border: 1px solid var(--radio-border);
    border-radius: 2px;
  }
  &:checked::before {
    background-color: var(--radio-border);
  }
}
